.profile {
  max-width: 410px;
  width: 100%;
  height: calc(100vh - 67px);
  margin: 0 auto 70px;
  padding-top: 74px;
}
.profile__title {
  margin: 0;
  margin-bottom: 120px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.profile__input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.profile__input-wrapper:not(:last-of-type) {
  margin-bottom: 30px;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}
.profile__input-wrapper:last-of-type {
  margin-bottom: 220px;
}
.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}
.profile__input {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
  background-color: transparent;
  border: none;
  position: relative;
}
.profile__input:focus {
  outline: none;
}
.profile__input-error-text {
  display: none;
  position: absolute;
  bottom: -25px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}
.profile__input-error-text_active {
  display: block;
}
.profile__message {
  margin: 0;
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}
.profile__message_error {
  color: #EE3465;
}
.profile__btn {
  display: block;
  border: none;
  padding: 0;
  width: 100%;
  margin-bottom: 16px;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.profile__btn_signout {
  margin: 0;
  color: #EE3465;
}
.profile__btn_disabled {
  color: #6e6d6d;
}

@media screen and (max-width: 400px) {
  .profile {
    width: 90%;
  }
}