.portfolio {
  max-width: 1140px;
  margin: 0 auto 125px;
}
.portfolio__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #8B8B8B;
}
.portfolio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.portfolio__item {
  position: relative;
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
}
.portfolio__item:not(:last-of-type) {
  margin-bottom: 20px;
}
.portfolio__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.portfolio__link::after {
  content: '';
  display: block;
  width: 29px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  right: 0;
  background: url(../../images/arrow.svg) no-repeat center/contain;
  cursor: pointer;
}