.page-not-found {
  height: 100vh;
  display: flex;
}
.page-not-found__container {
  margin: auto;
  text-align: center;
}
.page-not-found__title {
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}
.page-not-found__subtitle {
  margin: 0;
  margin-bottom: 184px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.page-not-found__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  text-decoration: none;
  transition: color 1s;
}
.page-not-found__link:hover {
  color: #3DDC84;
}
