.nav {
  margin: 0 auto 30px;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}
.nav__item {
  padding: 10px 17px;
  background: #303030;
  border-radius: 10px;
  cursor: pointer;
}
.nav__item:not(:last-of-type) {
  margin-right: 10px;
}
.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #FFFFFF;
}
@media screen and (max-width: 550px) {
  .nav__link {
    font-size: 10px;
    line-height: 16px;
  }
}